<%- include('partials/header'); %>
<h1>Blog</h1>
<p><%=startPara%></p>

<% postsArray.forEach(function(currentPost){  %>
<div class="container">
  <h4>Title</h4>
  <p> <%= currentPost.title %></p>
  <h4>Content</h4>
  <% const lines = currentPost.content.split(/\r?\n/); %>
  <% lines.forEach(function(line){ %>
  <p><%= line %></p>
  <% }) %>
</div>
<% }); %>


<%- include('partials/footer'); %>

